html {
	height: 100%;
}
body {
	background: black url('wp.jpg') no-repeat;
	background-position: bottom left;
	height: 100%;
}

img#logo{
	height: 131px;
}
img#einstein{
	height: 360px;
}
div#maincontentback{
	height: 450px;
}

div#maincontent{
	
}
div{
	-webkit-transition: all 0.4s ease;
}
label {
	color: white;
}

input[type="radio"] {
	visibility: hidden;
	height: 0;
	width: 0;
  }
  label.radiolabel {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	background-color: #454545;
	color: white;
	padding: 10px 10px;
	width: 100%;
	transition: all 0.3s ease-out;
  }
  
  input[type="radio"]:checked + label {
	background-color: #337AB7;
	box-shadow: 0px 0px 4px #4400FF;
  }
  

  input[type="submit"] {
	  padding: 10px 10px;
	  font-weight: bolder;
  }